body, html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: [header-start] 1fr 3fr [header-end];
  grid-template-rows: 1fr [sidebar-start] 1fr 5fr [sidebar-end footer-start] 1fr;  
  gap: 	0.9375rem;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #FFDE22;
  grid-column: header-start / header-end;
}

.sidebar {
  background-color: #FF7755;
  grid-row: sidebar-start / sidebar-end;
}

.nav {
  background-color: #00DDFF;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.footer {
  background-color: #393f4d;
  grid-column: span 2;
}
